@import 'tailwindcss';

@theme {
  /* Variabel Brand */
  --color-brand-pink: #e8417a;
  --color-brand-blue: #4878c0;

  /* Mapping ke Utility Class */
  --color-surface-bg: var(--bg-color);
  --color-surface-card: var(--card-color);
  --color-surface-border: var(--border-color);
  --color-text-main: var(--text-color);
  --color-text-muted: var(--muted-color);
}

@layer base {
  :root {
    --bg-color: #eef0f4;
    --card-color: #f5f6f8;
    --border-color: #e2e4e9;
    --text-color: #1a1d23 !important; /* Paksa hitam di Light */
    --muted-color: #64748b;
  }

  .dark {
    --bg-color: #0f1117;
    --card-color: #181c25;
    --border-color: #252a36;
    --text-color: #f8fafc !important; /* Paksa putih di Dark */
    --muted-color: #94a3b8;
  }

  body {
    @apply bg-surface-bg transition-colors duration-300 antialiased;
    color: var(--text-color);
    font-family: 'DM Sans', sans-serif;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  div {
    color: var(--text-color);
    transition: color 0.3s ease;
  }

  .p-button:not(.p-button-outlined) *,
  .p-tag:not(.p-tag-outlined) *,
  .bg-brand-pink * {
    color: #ffffff !important;
  }
}

@layer p-components {
  .p-component {
    font-family: inherit;
    color: var(--text-color) !important;
  }

  .p-card {
    background: var(--card-color) !important;
    border: 1px solid var(--border-color) !important;
  }

  .p-avatar {
    @apply shrink-0;
  }
}
